$primary: #00a0be;
$primary-light: #00c8e0;
$primary-dark: #007c94;
$border-radius: 0.75rem;

// Project colors
$api-color: #60a5fa;
$api-color-dark: #1e40af;
$admin-color: #a78bfa;
$admin-color-dark: #5b21b6;
$front-color: #0891b2;
$front-color-dark: #164e63;
$bugs-color: #f87171;
$bugs-color-dark: #991b1b;

// Legend colors
$legend-color: #6b7280;
$legend-color-dark: #9ca3af;

//Code colors
$code-bg-color: #f9f2f4;
$code-color: #c7254e;
$code-bg-color-dark: #2b2730;
$code-color-dark: #f08ca8;

//Table colors
$table-header-bg-color: #f1f3f5;
$table-header-bg-color-dark: #292e33;